<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Michael logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Thanks</p>
			<p>
        Thank you for reviewing my web portfolio. I am currently looking for work as a website developer 
        if your organization has an opening.
      </p>

			

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Michael</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<!-- <li><a href="/products" class="link">Products</a></li> -->
					<li><a href="/projects" class="link">Projects</a></li>
					<!-- <li><a href="/post" class="link">Blog</a></li> -->
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Other Options</h3>
				<ul class="mb3">
					<!-- <li><a href="#" class="link">Future projects</a></li> -->
					<li><a href="/contact" class="link">Contact me</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.linkedin.com/in/michael-smith-86870b1ba/" "svg" "icons-linkedin") }}
					{{ partial "social-icon" (dict "link" "https://github.com/MichaelT-Smith" "svg" "icons-github") }}
					{{ partial "social-icon" (dict "link" "https://github.com/Michael-T-Smith" "svg" "icons-github") }}
				</ul>
			</div>
		</div>
    <div class="updated">
      <div class="updated-time">
        <p>Updated 1/31/2022 @ 12:00PM</p>
        <p>© Michael Smith 2022. All rights reserved. </p>
      </div>
    </div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
